#nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  margin-top: 10px;
}

.kyle-baker-link {
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 30px;
}

.dropbtn {
  background-color: transparent;
  color: blsck;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  margin-left: 50px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  bottom: 0;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}

.ig-and-share-div {
  display: inline-flex;
  align-items: baseline;
  padding-top: 10vh;
}

.ig-icon {
  align-self: baseline;
}

.copyright {
  margin-top: 10px;
  font-size: 10px;
}
