.intro-text {
  margin: auto;
  width: 100%;
  padding: 10px;
  letter-spacing: 10px;
  font-size: 150px;
  font-weight: 54;
  color: black;
}

.intro-button {
  margin-top: 150px;
  border: none;
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

.intro-button:hover {
  border-bottom: 2px solid black;
}

.intro-image-div {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .intro-text {
    margin: auto;
    width: 100%;
    padding: 10px;
    letter-spacing: 10px;
    font-size: 90px;
    font-weight: 54;
    color: black;
  }
}
